 @import 'scss/grid';
 @import 'scss/admin_panel';
 @import 'scss/login-register';
 @import 'scss/jquery.dm-uploader';
 @import url('https://fonts.googleapis.com/css?family=Lato:300');
 * {
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
 }

 html {
     font-size: 6.25%;
 }

 body {
     font-size: 16px;
     font-size: 16rem;
     * {
         font-size: 16px;
         font-size: 16rem;
     }
 }

 .cleaner {
     clear: both;
 }

 .clickable {
     cursor: pointer;
 }


 .container {
     margin-top: 3vw;
     width: 100%;
     min-width: 100%;
     max-width: 100%;
     padding: 0;
 }


 @media (max-width: 640px) {
     .container {
         margin-top: 2vw;
         min-width: 85%;
         padding: 1%;
         transform: translateX(0%);
     }
 }


 .grid {
     width: 67%;
     float: left;
 }

 aside {
     float: left;
     width: 20%;
     margin-left: 1%;

     header {
         h1 {
             font-size: 20rem;
             letter-spacing: 1.5rem;
             margin-bottom: 30px;
         }
     }
     nav {
         ul {
             list-style-type: none;
             li {
                 p {
                     font-size: 17rem;
                     letter-spacing: 0.5rem;
                     margin: 0;
                 }
             }
         }
     }
     .socialmedia {
         list-style-type: none;
         display: flex;
         li {
             text-decoration: none;
             font-size: 25px;
             margin-right: 20px;
             a {
                 color: black;
             }
         }
     }
 }
