@import 'scss/grid';
@import 'scss/admin_panel';
@import 'scss/login-register';
@import 'scss/jquery.dm-uploader';
@font-face {
    font-family: Nobile-Regular;
    src: url(Nobile-Regular.ttf);
}

@font-face {
    font-family: SpecialElite;
    src: url(SpecialElite-Regular.ttf);
}

@font-face {
    font-family: Merienda-Regular;
    src: url(Merienda-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nobile-Regular';
    font-size: 16rem;
}

img {
    pointer-events: none !important;
}

html {
    font-size: 6.25%;
}

body {
    font-size: 16px;
    font-size: 16rem;
    * {
        font-size: 16px;
        font-size: 16rem;
    }
}

.cleaner {
    clear: both;
}

.clickable {
    cursor: pointer;
}


.container {
    margin-top: 3vw;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
}


@media (max-width: 640px) {
    .container {
        margin-top: 2vw;
        min-width: 85%;
        padding: 1%;
        transform: translateX(0%);
    }
}


.grid {
    width: 67%;
    float: left;
}

aside {
    float: left;
    width: 20%;
    margin-left: 1%;

    header {
        h1 {
            font-size: 30rem;
            margin-bottom: 30px;
        }
    }
    nav {
        ul {
            list-style-type: none;
            li {
                p {
                    font-size: 20rem;
                    margin: 0;
                }
                p.album_section {
                    padding-left: 15px;
                }
            }
        }
    }
    .socialmedia {
        list-style-type: none;
        display: flex;
        li {
            text-decoration: none;
            font-size: 25px;
            margin-right: 20px;
            a {
                color: black;
            }
        }
    }
}
