.dm-uploader {
    border: 0.25rem dashed #A5A5C7;
    text-align: center;
}

.dm-uploader.active {
    border-color: red;

    border-style: solid;
}

.admin_panel_title {
    font-size: 50rem;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.bar {
    height: 18px;
    background: green;
}

#drop-area {
    h3 {
        font-size: 18rem;
    }
}

.container_admin_panel {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    main {
        .row {
            .col {
                h1 {
                    width: 100%;
                    text-align: center;
                    font-size: 30rem;
                    margin-bottom: 25px;
                }
                #drag-and-drop-zone {
                    h3 {}
                    .btn span {
                        width: 50%;
                        margin: 0 auto;
                        padding-top: 4px;
                        padding-bottom: 4px;
                    }
                    #start_upload {
                        width: 50%;
                        margin: 0 auto;
                        padding-top: 4px;
                        padding-bottom: 4px;
                    }

                }
                .dropdown {

                    * {
                        font-size: 16rem;
                    }

                }
            }
        }
    }
}

.uploading_images {
    width: 100%;
    #files {
        width: 100%;
        list-style-type: none;
        margin: 0;
        li {
            margin-top: 40px;
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                margin-bottom: 15px;
            }
            .progress {
                height: 15px;
                div {
                    font-size: 10rem;
                }
            }
            input,
            textarea {
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                font-size: 16rem;
            }
            textarea {
                max-width: 100%;
                font-size: 14rem;
            }
        }
    }
}
