.dm-uploader {
    outline: 0.5rem dashed #A5A5C7;
    text-align: center;
}

.dm-uploader.active {
    border-color: red;

    border-style: solid;
}

.admin_panel_title {
    font-size: 50rem;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.bar {
    height: 18px;
    background: green;
}

#drop-area {
    h3 {
        font-size: 18rem;
    }
}


.container_admin_panel {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    main {
        .row {
            .col {
                h1 {
                    width: 100%;
                    text-align: center;
                    font-size: 30rem;
                    margin-bottom: 25px;
                }
                #drag-and-drop-zone {
                    .btn,
                    #start_upload,
                    #odaberi_kategoriju {
                        width: 60%;
                        margin: 0 auto;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        font-size: 15rem;
                        margin-bottom: 15px;

                    }
                    .dropdown {
                        .dropdown-menu {
                            width: 60%;
                            label {
                                vertical-align: middle;
                                display: block;
                                input {
                                    transform: scale(1.2);
                                    margin-left: 7px;
                                    margin-right: 5px;
                                    vertical-align: center;

                                }
                            }
                        }
                    }

                }
                .table-striped {
                    outline: 0.5rem solid #A5A5C7;
                    thead tr th,
                    tbody tr th,
                    thead tr td,
                    tbody tr td {
                        padding-left: 2rem;
                        input {
                            vertical-align: middle;
                            margin: 0 auto;
                        }
                    }
                    td:nth-child(2) {
                        text-align: center;
                    }
                    tbody {
                        .btn {
                            font-size: 15rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.uploading_images {
    width: 100%;
    #files {
        width: 100%;
        list-style-type: none;
        margin: 0;
        li {
            margin-top: 40px;
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                margin-bottom: 15px;
            }
            .progress {
                height: 15px;
                div {
                    font-size: 10rem;
                }
            }
            input,
            textarea {
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                font-size: 16rem;
            }
            textarea {
                max-width: 100%;
                font-size: 14rem;
            }
        }
    }
}

.btn,
#start_upload,
#odaberi_kategoriju {
    border-radius: 2px;
}

.section_edit_table {
    margin-top: 50px;
    * {
        font-size: 16rem;
    }
    width: 35%;
    tr {
        td {
            img {
                height: 100px;
                width: 150px;
                object-fit: cover;
            }
            textarea {
                display: block;
                margin-top: 10px;
            }
            .dropdown {
                margin-top: 10px;
                button {
                    width: 198px;
                }
                .dropdown-menu {
                    width: 198px;
                    label {
                        vertical-align: middle;
                        display: block;
                        input {
                            transform: scale(1.2);
                            margin-left: 7px;
                            margin-right: 5px;
                            vertical-align: center;

                        }
                    }
                }
            }
            button {
                display: block;
                width: 100%;
            }
            .image_edit {
                margin-top: 10px;
            }
        }
    }
}
